
body {
    background-color: gray
  }
  h1 {
    color: rgb(255, 255, 255);
    font-size: 55px;

  }
  
  h3 {
    font-family: 'Belleza', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 10px;
  }

  h2 { 
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

#caixa{
  width: 30%;
  background-color: black;
  float: left;

}
#dir{
     display: inline ;
 }
 div{
   padding: 10px;
 }